/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#api{
    border:1px solid black;
    width:360px;
    height:360px;
    margin-left:30px;
    text-align: center;
    float:left;
}

#search{
    border:1px solid black;
    width: 480px;
    height:50px;
    margin-left: 30px;
    text-align: center;

}

.container{
    width: 100%;
    border-top: #f6bb9e 2px solid;
    border-bottom: #f6bb9e 2px solid;
    border-collapse: collapse;
    
}

.new{
    color: white !important;
    border:5px outset blue;
    background: blue;
    position: absolute;
    left:1260px;
}

.entry{
    float: left;
}



 @import "bootstrap";
