// Place all the styles related to the MarketReviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-deck{
    margin:30px;
}    

.card{
    margin-left:30px;
    margin-right:30px;
}

.card-text{
    margin:10px;
}

.card-body{
    
}

.card-link{
    
}

.card-title{
    
}

.card-subtitle{
    
}